.fdaform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* Adjust the height as needed */
    background-color: #f0f0f0;
}

.fdaform__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem; /* Moved the title up closer to the nav bar */
}

.fdaform__container {
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 2rem;
    max-width: 1200px; /* Adjust the width as needed */
    width: 100%;
}

.fdaform__subtitle {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.fdaform__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;
}

    .fdaform__form input[type="text"],
    .fdaform__form input[type="email"],
    .fdaform__form input[type="password"] {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        font-size: 1rem;
    }

    .fdaform__form button {
        background-color: #1c2e4a;
        border: none;
        color: white;
        padding: 0.75rem 1rem;
        margin-top: 1.5rem;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
    }

        .fdaform__form button:hover {
            background-color: #0e1a29;
        }

    .fdaform__form .error {
        background-color: tomato;
        color: white;
        border-radius: 6px;
        padding: 0.5rem 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
        max-width: 400px;
        text-align: center;
    }

.top-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003366;
    padding: 1rem;
}

.top-nav__logo {
    height: 40px;
    margin-right: 1rem;
}

.top-nav__greeting {
    color: white;
    font-size: 1.5rem; /* Adjust the font size as desired */
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}
.top-nav__menu li {
    display: inline-block;
}

    .top-nav__menu li a {
        display: inline-block;
        padding: 0.5rem 1rem;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        border-radius: 4px;
        transition: all 0.3s ease;
    }

        .top-nav__menu li a:hover {
            background-color: #fff;
            color: #003366;
            border-color: #003366;
        }
    .top-nav__menu li a,
    .top-nav__menu li button {
        display: inline-block;
        padding: 0.5rem 1rem;
        color: white;
        background-color: #003366;
        text-decoration: none;
        border: 2px solid transparent;
        border-radius: 4px;
        transition: all 0.3s ease;
    }

        .top-nav__menu li a:hover,
        .top-nav__menu li button:hover {
            background-color: #fff;
            color: #003366;
            border-color: #003366;
        }

.action-button {
    background-color: #1c2e4a;
    border: none;
    color: white;
    padding: 0.75rem 1rem;
    margin-top: 1.5rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

    .action-button:hover {
        background-color: #0e1a29;
    }

.patient-table-container {
    margin-top: 2rem;
    width: 100%;
    overflow-x: auto;
}

.patient-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

    .patient-table caption {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .patient-table th,
    .patient-table td {
        padding: 0.75rem;
        text-align: left;
        border: 1px solid #ccc;
    }

    .patient-table th {
        font-weight: bold;
        background-color: #f0f0f0;
    }

    .patient-table tbody tr:nth-child(even) {
        background-color: #f0f0f0;
    }

    .patient-table tbody tr:hover {
        background-color: #e0e0e0;
    }

.fdaform__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 2rem; /* Increased margin to provide more space */
}

.fdaform__image-container {
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Controls the aspect ratio (4:3) */
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.fdaform__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.notification-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh; /* Adjust the height as needed */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.notification-box {
    color: white;
    background-color: #003366;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 400px; /* Adjust the width as needed */
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: transparent;
    border: none;
    color: #888888;
    font-size: 1rem;
    cursor: pointer;
}
.contract-modal-content {
    padding: 20px;
}

    .contract-modal-content h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .contract-modal-content p {
        margin-bottom: 20px;
    }

.contract-modal-buttons {
    display: flex;
    justify-content: space-between;
}
