@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Doppio+One:400|Poppins:700,500");

.bavariaform {
    display: inline-block;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    flex-direction: column;
    margin-left: 20px;
}

    .bavariaform input {
        display: flex;
        padding: 12px;
        margin: 12px 0;
        font-size: 14px;
        border: 1px solid white;
        box-shadow: 0 1px 4px #ccc;
        border-radius: 6px;
        font-size: 18px;
        width: 100%;
    }


    .bavariaform button {
        background-color: #617398;
        border: none;
        color: white;
        padding: 12px;
        margin: 12px 0;
        box-shadow: 0 1px 6px #ccc;
        width: 100%;
        border-radius: 6px;
        font-size: 18px;
    }

    .bavariaform .container {
        background-color: white;
        box-shadow: 0 1px 6px #ccc;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 400px;
        padding: 22px;
    }


    .bavariaform h3 {
        display: flex;
        justify-content: center;
        border: none;
        color: black;
        padding: 12px;
        width: 100%;
        font-size: 30px;
        font-weight: 600;
    }

.container > p {
    cursor: pointer;
    margin: 12px;
}

.contentFull > h2 {
    text-align: center;
}

.screen a {
    display: contents;
    text-decoration: none;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

    .container-center-horizontal > * {
        flex-shrink: 0;
        pointer-events: auto;
    }

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252234;
    padding: 10px;
    color: white;
}

.top-bar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.top-bar-left a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.top-bar-right {
    display: flex;
    align-items: center;
}

    .top-bar-right p {
        margin-right: 10px;
    }
.contentFull {
    background-color: #333333;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
